body {
  font-family: "Roboto", sans-serif !important;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.MuiPaper-root {
  background-color: #ffffff !important;
  color: #141414 !important;
}

.MuiBadge-badge {
  top: 7px !important;
  right: 7px !important;
}

.MuiBadge-dot {
  background-color: #ffa741 !important;
}

.MuiInputBase-root {
  width: 100% !important;
}

.main {
  background-color: #edf0f4;
  padding: 10px 0px;
}

.right-div {
  width: 10%;
  padding-right: 30px;
}

.left-div {
  padding-right: 80px;
}

.main,
.summary-div,
.penalty-div,
.header-box,
.outstanding-card,
.total-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-box {
  align-items: flex-start;
}

.summary-div {
  margin-bottom: 20px;
}

.date-title {
  font-size: 14px;
  color: #7b7c89;
  font-weight: 400;
  text-align: start;
}

.total-div {
  text-align: start;
  width:80%;
  justify-content: space-evenly;
}

.selected-div,
.sidebar-div {
  height: 70px;
  width: 80px;
  padding: 10px 10px 0 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 15px;
}
.selected-div {
  background-color: #13255b;
}

.formBox {
  text-align: left !important;
}

.gender-label {
  flex-direction: row!important;
  align-items: center;
  width: 70%;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .summary-div,
  .penalty-div,
  .header-box,
  .outstanding-card {
    display: flex;
    flex-direction: column;
  }

  .outstanding-box,
  .outstanding-card {
    width: 100%;
  }

  .main {
    justify-content: unset;
    align-items: flex-start;
  }

  .right-div {
    width: 25%;
    padding-right: 10px;
  }

  .left-div {
    padding-right: 0px;
    width: 55%;
  }

  .gender-label {
    align-items: start;
    flex-direction: column!important;
    width: 100%;
  }
}
